.section {
  margin: auto;
  margin-top: 50px;
  width: 900px;
}

.title {
  text-align: center;
}

.description {
  background: lightgrey;
  border: 1px solid #000000;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
}